<%if(user == null){%>
    <%- include('partials/header'); -%>
<%}else{%>
    <%- include('partials/Loggedheader'); -%>
<%}%>
    <div class='main_material'>
    <div class="main_title"><h1>Home</h1></div>
    <%if(user == null){%>
       <center><p><%=start%></p></center> 
    <%}else{%>
       <center><p>Welcome Back my Friend. How was your day?? Tell us All about it by making another Post.</p></center> 
    <%}%>
    
    <%if(user != null){%>
        <a class="btn btn-dark composeBtn" href="/compose" role="button">Compose New Post</a>
    <%}%>
    <% for(var i = 0; i< allPosts.length ;i++){%>
        <a href="/posts/<%=allPosts[i]._id%>" style="text-decoration: none;">
        <div class="posts p-3 mb-2 btn-outline-dark">
        <h2><%=allPosts[i].postTitle%></h2>
        <%if(allPosts[i].postContent.length>200){%>
        <p><%=allPosts[i].postContent.substring(0,200) + "..."%></p>
        <%}else{%>
            <p><%=allPosts[i].postContent%></p>
        <%}%>
        </div>
        </a>
    <%}%>
    <%if(user == null){%>
    <center><a href='/logIn' class="btn btn-dark">Log In</a></center>
<%}%>
    
    </div>
    <%- include('partials/footer'); -%>