<%if(user == null){%>
    <%- include('partials/header'); -%>
<%}else{%>
    <%- include('partials/Loggedheader'); -%>
<%}%>
<div class="main_material">
    <h2><%=post.postTitle%></h2>  
    
    <%if(user == null){%>
        <h6><small>By <a href='/user/<%=post.postUser%>'><%=guest.name%></a></small></h6>
    <%}else{%>
        <h6><small>By <a href='/'><%=user.name%></a></small></h6>
    <%}%>
    
    
    <h6><small><%= post.date%></small></h6>
    <hr/>
    <pre class='formatContent'><%=post.postContent%></pre>
    <hr/>
</div>

<%- include('partials/footer') -%>